.artwork-box {
  margin: 10vw;
}

.artwork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vw;
  width: 30vw;
  border-radius: 10%;
  /* padding: 10%; */
}

.title {
  font-size: 20px;
  text-shadow: 1px 1px 2px rgb(80, 80, 80), -1px -1px 2px white;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 10px;
}

.artwork img {
  width: 80%;
  height: 60%;
  object-fit: contain;
  display: block; /* Add this line */
  margin: auto;
  background-color: rgb(236, 236, 236);
  box-shadow: 2px 2px 5px rgb(80, 80, 80), -2px -2px 3px white;
  padding: 5px;
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.button-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.button-wrapper button {
  width: 30%;
  height: 5vw;
  border: none;
  border-radius: 10%;
  background: var(--main-color);
  font-family: SUITE-Regular;
}

.button-wrapper button:active {
  box-shadow: inset 7px 7px 15px var(--shadow-color),
    inset -7px -7px 40px #ff0000, 0px 0px 4px rgba(255, 255, 255, 0.2);
  transform: scale(0.9);
}

.neu {
  box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.7);
}
