.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 33% 33% 33%; */
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;

  width: 100vw;
  margin-top: 40px;

  transition: transform 0.3s ease;
}
