.container-wrapper {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  transition: transform 0.3s ease;
}

.button-wrapper {
  display: flex;
  justify-content: end;
  margin-right: 10vw;
  margin-top: 5vw;
}

.next-button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10%;
  background: var(--main-color);
  font-family: SUITE-Regular;
  box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.7);
}

.next-button:active {
  box-shadow: inset 7px 7px 15px var(--shadow-color), inset 0px 0px 40px #54f88b,
    0px 0px 4px rgba(255, 255, 255, 0.2);
  transform: scale(0.9);
}
