/* 슬라이더 */

[class^="number-slide"],
[class*="number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #ffffff;
  font-weight: 500;
  height: 450px;
  max-height: 100vh;
}
.minwid {
  width: 95% !important;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 20vh;
  /* border: 1px solid black; */
}

.innerSlideBox {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  box-shadow: 8px 8px 15px rgba(37, 37, 37, 0.2),
    -8px -8px 15px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease, width 0.3s ease, height 0.3s ease;
}
.innerSlideBox img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border: 4px ridge rgb(157, 157, 157);
  /* box-shadow: 4px 4px 4px black; */
}

.innerSlideBox:hover {
  box-shadow: 5px 5px 10px rgba(37, 37, 37, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.7);
  width: 95%;
  height: 95%;
  font-size: 40px;
}
.innerTxt1 {
  color: black;
  font-family: SUITE-Regular;
  font-size: 14px;
  margin-bottom: 5px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: font-size 0.3s ease;
}
.innerSlideBox:hover .innerTxt1 {
  font-size: 16px;
}
.innerTxt2 {
  color: black;
  font-family: SUITE-Regular;
  font-size: 11px;
  margin-top: 5px;
}

.linkbox {
  text-decoration: none;
}

.introBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;
  color: black;
  text-align: left;
}
.introtxt {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
  text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.2),
    2px 1px 4px rgba(0, 0, 0, 0.7);
}
.introtxt2 {
  font-size: 17px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 8px rgba(93, 93, 93, 0.7);
}

@media (max-width: 1024px) {
  [class^="number-slide"],
  [class*="number-slide"] {
    height: 90vh;
    width: 50vh !important;
    max-height: 100vh;
  }
  .innerSlideBox {
    width: 60%;
    height: 80%;
  }
  .introBox {
    width: 60%;
  }
  .innerTxt1 {
    font-size: 13px;
  }
  .innerSlideBox:hover {
    box-shadow: 5px 5px 10px rgba(37, 37, 37, 0.2),
      -5px -5px 10px rgba(247, 250, 236, 0.7);
    width: 65%;
    height: 85%;
  }
  .innerSlideBox:hover .innerTxt1 {
    font-size: 15px;
  }
  .minwid {
    margin-top: unset;
    margin-bottom: unset;
  }
}
