.artmemory-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  box-shadow: 8px 8px 10px rgba(37, 37, 37, 0.2),
    -8px -8px 10px rgba(255, 255, 255, 0.7);
  margin-bottom: 1%;
  padding-bottom: 1%;
  max-width: 900px;
}

.artdetailLeft {
  /* Styles for the left side (50% width) */
  float: left;
  box-sizing: border-box;
  padding: 10px;
  /* border: 1px solid rgb(245, 10, 10); */
}

.artdetailRight {
  /* Styles for the right side (50% width) */
  float: left;
  box-sizing: border-box;
  padding: 10px;
  /* border: 1px solid rgb(81, 10, 245); */
  margin: 5%;
  box-shadow: 4px 4px 5px rgba(37, 37, 37, 0.2),
    -4px -4px 5px rgba(255, 255, 255, 0.7);
}

/* Media query for mobile screens (max-width: 767px) */
@media (max-width: 767px) {
  .artmemory-container {
    display: block;
    width: 80vw;
  }

  .artdetailLeft {
    width: 80vw;
    float: none;
    box-sizing: content-box;
    padding: 10px;
    padding-left: 0px;
  }
  .artdetailRight {
    width: 90% !important;
    float: none;
    box-sizing: content-box;
    padding: 10px;
    padding-left: 0px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: none;
  }
}
