.aboutBody {
  margin: 0;
  overflow-y: hidden;
  height: 80vh;
}
.aboutBodyMobile {
  display: none;
}

.outer {
  height: 80vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.AP_Container {
  display: flex;
  height: 100%;
}
.inner div img {
  height: 70vh;
  margin: auto;
}
.AP_box1 {
  margin: auto;
  height: 90%;
  display: flex;
}
.AP_box1_inner {
  margin: auto;
}

.AP1 {
  font-size: 18px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.AP1_txt1 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
}

@media (max-width: 767px) {
  .aboutBody {
    display: none;
  }
  .aboutBodyMobile {
    display: block;
  }
  .AP1 {
    font-size: 12px;
  }
  .AP1_txt1 {
    font-size: 20px;
  }
  .inner {
    height: 350px;
  }
}
