.container {
  display: flex;
  width: 300px;
  /* width: 80%; */
  height: 200px;
  margin: 10px;
}

.img-box {
  flex: 1.5;
}

img {
  height: 90%;
  width: auto;
}

.text {
  flex: 1;
  position: relative;
}

button {
  position: absolute;
  bottom: 0;
  right: 0;
}
