* {
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 80vw;
  flex-direction: column;
  padding: auto;
}

.header {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 20%;
  font-size: 150%;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  height: 80%;
}

.img-box {
  flex: 1;
  border: 1px solid black;
}

img {
  height: 90%;
  width: auto;
}

.text-and-button {
  flex: 2;
  position: relative;
  border: 1px solid black;
}

.text {
  font-size: 150%;
  text-align: left;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
}
