.exhibition-container,
.exhibition-header,
.info-wrapper {
  display: flex;
  justify-content: center;
}

.exhibition-container {
  height: 50vw;
  width: 70vw;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
}

.exhibition-header {
  width: 100%;
  height: 20%;
}

.info-wrapper {
  height: 80%;
}

.img-box {
  height: 100%;
  border: 1px solid black;
  flex: 1;
}

.img-box img {
  height: 80%;
  width: auto;
  object-fit: cover;
}

.text-and-button {
  position: relative;
  flex: 1;
}

.text {
  height: 90%;
}

.button-wrapper {
}
