.ExhibitionInfo {
  justify-content: space-around;
  margin: auto;
  padding: 5vh;
  border-radius: 50px;
  width: 80%;
  max-width: 800px;
  margin-top: 50px;
  box-shadow: 10px 10px 10px rgba(37, 37, 37, 0.2),
    -10px -10px 10px rgba(255, 255, 255, 0.7);
}

.ExhibitionInner {
  margin-top: 20px;
  display: flex;
}

.ExhibitionProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 40%;
}
.ExhibitionProfile img {
  border: 10px solid white;
  box-shadow: 5px 5px 5px rgba(37, 37, 37, 0.2),
    -10px -10px 10px rgba(255, 255, 255, 0.7);
}
.ExhibitionTxt {
  font-size: 12px;
  width: 60%;
  margin-top: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}
.ExhibitionInputContainer {
  display: flex;
  text-align: left;
  margin-top: 10px;
}
.ExhibitionInput {
  border: none !important;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  width: 70%;
}

@media (max-width: 767px) {
  .ExhibitionInner {
    display: block;
  }
  .ExhibitionTxt {
    margin: auto;
    margin-top: 30px;
  }

  .ExhibitionInputContainer {
    flex-direction: column;
    display: flex;
    align-items: baseline;
    width: unset;
    /* margin: 15px; */
  }
  .ExhibitionInput {
    width: 90%;
  }
}
