.ExhibitionInfo {
  display: flex;
  justify-content: space-around;
  width: 70vw !important;
  margin-top: 30px !important;
  margin: auto;
  padding: 5vh;
  border-radius: 50px;
  box-shadow: 10px 10px 10px rgba(37, 37, 37, 0.2),
    -10px -10px 10px rgba(255, 255, 255, 0.7);
}
.imagebox {
  display: flex;
  flex-direction: column;
}
.imageInnerBox {
  margin: 20px;
}
.workImage {
  width: 30vw;
  background-color: rgb(236, 236, 236);
  box-shadow: 3px 3px 5px rgb(80, 80, 80), -2px -2px 3px white;
  padding: 10px;
}
.ExhibitionTxt {
  padding-left: 0;
  text-align: left;
  font-size: 12px;
}
.ExhibitionInputContainer {
  display: block;
  align-items: baseline;
  width: 35vw;
}
.ExhibitionInput {
  border: none !important;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 70%;
}

@media (max-width: 1024px) {
  .ExhibitionInfo {
    display: block;
  }

  .ExhibitionTxt {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .imagebox {
    margin: auto;
  }
  .workImage {
    width: 50vw !important;
  }

  .ExhibitionInputContainer {
    justify-content: center;
    display: flex;
    align-items: baseline;
    width: unset;
  }
}
