.BigBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  margin-top: 80px;

  box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.7);
  animation: fadeIn 3s;
  transition: box-shadow 0.3s ease;
}
.BigBtn:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.877);
}
@keyframes fadeIn {
  0% {
    box-shadow: inset 10px 10px 8px rgba(0, 0, 0, 0.1),
      inset -10px -10px 8px rgba(255, 255, 255, 0.5);
    color: #e0e0e0;
  }
  30% {
    box-shadow: none;
    color: #e0e0e0;
  }
  100% {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
      -10px -10px 20px rgba(255, 255, 255, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
      -10px -10px 20px rgba(255, 255, 255, 0.7);
  }
  55% {
    box-shadow: none;
  }
  100% {
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.1),
      inset -3px -3px 8px rgba(255, 255, 255, 0.5);
  }
}
