.BigBtnBox2 {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  /* margin-bottom: 5vh; */
}

@media (max-width: 1024px) {
  .BigBtnBox2 {
    display: block;
    height: unset;
  }
}
