.BigBtnBox3 {
  display: flex;
  justify-content: space-around;
}

.BigBtnBox2 {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .BigBtnBox2 {
    display: block;
  }
}
