table {
  border-collapse: collapse;
  width: 100%;
}

.tableTr {
  height: 50px !important;
  font-size: 22px !important;
  background-color: rgb(63, 63, 63);
  color: azure;
  border-left: 20px solid rgb(63, 63, 63);
}

tr,
td {
  border: 1px solid black;
  width: 100vw;
  height: 2.5vh;
  text-align: left;
  border-left: none; /* 각 행의 위에만 경계선 없음 */
  border-right: none; /* 각 행의 위에만 경계선 없음 */
  padding: 8px;
  padding-left: 0px;
  font-size: 13px;
}

span {
  margin: 10px;
}

input {
  width: 50%;
}
